### Part 1 Training Your Algorithm

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt
match=pd.read_csv('international_matches.csv')

In [2]:
match.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23921 entries, 0 to 23920
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           23921 non-null  object
 1   home_team                      23921 non-null  object
 2   away_team                      23921 non-null  object
 3   home_team_continent            23921 non-null  object
 4   away_team_continent            23921 non-null  object
 5   home_team_fifa_rank            23921 non-null  int64
 6   away_team_fifa_rank            23921 non-null  int64
 7   home_team_total_fifa_points    23921 non-null  int64
 8   away_team_total_fifa_points    23921 non-null  int64
 9   home_team_score                23921 non-null  int64
 10  away_team_score                23921 non-null  int64
 11  tournament                     23921 non-null  object
 12  city                           23921 non-null  object
 13  country                        23921 non-null  object
 14  neutral_location               23921 non-null  bool
 15  shoot_out                      23921 non-null  object
 16  home_team_result               23921 non-null  object
 17  home_team_goalkeeper_score     8379 non-null   float64
 18  away_team_goalkeeper_score     8095 non-null   float64
 19  home_team_mean_defense_score   7787 non-null   float64
 20  home_team_mean_offense_score   8510 non-null   float64
 21  home_team_mean_midfield_score  8162 non-null   float64
 22  away_team_mean_defense_score   7564 non-null   float64
 23  away_team_mean_offense_score   8312 non-null   float64
 24  away_team_mean_midfield_score  7979 non-null   float64
dtypes: bool(1), float64(8), int64(6), object(10)
memory usage: 4.4+ MB

In [6]:
match["tournament"].value_counts()

tournament
Friendly                                8558
FIFA World Cup qualification            5528
UEFA Euro qualification                 1723
African Cup of Nations qualification    1274
AFC Asian Cup qualification              541
                                        ...
AFF Championship qualification             2
Copa AmÃ©rica qualification                 2
Copa Confraternidad                        1
TIFOCO Tournament                          1
CONMEBOLâ€“UEFA Cup of Champions             1
Name: count, Length: 82, dtype: int64

In [7]:
match.drop(match.iloc[:, 17:25],axis=1,inplace=True)
match.drop(match.iloc[:, 14:16],axis=1,inplace=True)
match.drop('date',axis=1,inplace=True)
match.drop('away_team',axis=1,inplace=True)
match.drop('city',axis=1,inplace=True)
match.drop('country',axis=1,inplace=True)

In [8]:
match.drop('home_team',axis=1,inplace=True)

In [9]:
match.drop(match.iloc[:, 6:8],axis=1,inplace=True)

In [10]:
match=match[(match['tournament'] == 'FIFA World Cup qualification') | (match['tournament'] == 'FIFA World Cup') |  (match['tournament'] == 'UEFA Euro qualification')|  (match['tournament'] == 'UEFA Euro')]

In [11]:
match.replace('Europe',0,inplace=True)
match.replace('South America',1,inplace=True)
match.replace('Africa',2,inplace=True)
match.replace('North America',3,inplace=True)
match.replace('Asia',4,inplace=True)
match.replace('Oceania',5,inplace=True)
match.replace('No',0,inplace=True)
match.replace('Yes',1,inplace=True)
match.replace('Win',0,inplace=True)
match.replace('Lose',1,inplace=True)
match.replace('Draw',1,inplace=True)
match.replace('FIFA World Cup qualification',0,inplace=True)
match.replace('FIFA World Cup',1,inplace=True)
match.replace('UEFA Euro qualification',2,inplace=True)
match.replace('UEFA Euro',3,inplace=True)

In [12]:
match.dropna(axis=0,inplace=True)

In [13]:
x=match.drop('home_team_result',axis=1)
y=match['home_team_result'].values

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=68)

In [15]:
from sklearn.linear_model import LogisticRegression

logmodel = LogisticRegression(max_iter=10000)
logmodel.fit(x_train,y_train)

predicitons=logmodel.predict(x_test)

from sklearn.metrics import classification_report
print(classification_report(y_test,predicitons))

              precision    recall  f1-score   support

           0       0.73      0.72      0.72      1171
           1       0.73      0.74      0.74      1210

    accuracy                           0.73      2381
   macro avg       0.73      0.73      0.73      2381
weighted avg       0.73      0.73      0.73      2381

In [16]:
myTest = {
    'home_team_continent':[0],
    'away_team_continent':[0],
    'home_team_fifa_rank':[2],
    'home_team_fifa_rank':[19],
    'home_team_total_fifa_points':[1845.44],
    'away_team_total_fifa_points':[1613.44],
    'tournament':[0],
}
df=match.DataFrame(myTest)

##df=match.__dataframe__(myTest)
print(logmodel.predict(df))

AttributeError: 'DataFrame' object has no attribute 'DataFrame'